[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
	branch = master
[submodule "lib/mqtt"]
	path = lib/mqtt
	url = https://github.com/tuanpmt/esp_mqtt.git
	branch = master
[submodule "lib/esphttpd"]
	path = lib/esphttpd
	url = http://git.spritesserver.nl/esphttpd.git/
	branch = master
